<div class="box-name-genres column">
  <div class="series-name">{{ dataSeries.name }}</div>
  <div class="box-genres">
    <span class="list-values genre" *ngFor="let genre of listGenres" [ngClass]="genre">{{ genre }}</span>
  </div>
</div>
<div class="series-season column">{{ dataSeries.season }}</div>
<div class="series-networks column">
  <span class="list-values" *ngFor="let network of listNetworks">{{ network }}</span>
</div>
<div class="series-premiere column">{{ dataSeries.premiere }}</div>
