<div class="form-name">
  <input type="text" #inputTag class="form-field" placeholder="Name" name="name" [(ngModel)]="searchName">
  <label for="name" class="form-label">Name</label>
  <i class="fas fa-search"></i>
</div>

<div class="select">
    <select (change)="filter($event.target.value, $event.target.id)" id="genre">
    <option *ngFor="let genre of listGenres">{{ genre }}</option>
  </select>
  <div class="select__arrow"></div>
</div>

<div class="select">
  <select (change)="filter($event.target.value, $event.target.id)" id="date">
    <option *ngFor="let date of listDates">{{ date }}</option>
  </select>
  <div class="select__arrow"></div>
</div>
