<mat-form-field class="form-name" >
  <mat-label class="label-name">Name</mat-label>
  <input matInput class="input-name" type="text" placeholder="Search name of series">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Genre</mat-label>
  <mat-select>
    <mat-option value="option">Option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Premiere Year</mat-label>
  <mat-select>
    <mat-option value="option">Option</mat-option>
  </mat-select>
</mat-form-field>

<!-- [(ngModel)]="inputSearch" -->
